
*{
    margin: 0;
    padding: 0;
    
    box-sizing:border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,300&display=swap');



.card{
    width: 100%;
    margin: 0;
    padding: 60px 0;
    max-width: 100%;
    min-height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    background-color: azure;
 align-content: center;

}

.card-item{
    background-color:azure ;
    justify-content: center;


 card-content{
    width: 100%;
    margin: 0 auto;
    background-color: azure;
    justify-content: center;
}

}


.card-picture{
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: 2em;
  justify-content: center;
}

.card-img{
    width: 100%;

}

.card-text{
    justify-content: center;
}


header{
    background-color: rgb(255, 255, 255);

}


.container-header{

    display:flex;
     flex-flow: row;
     justify-content:space-between;
     padding-top: 20px;
     padding-right: 80px;
     padding-left: 80px;
     padding-bottom: 2px;
     column-gap: 5px;
     margin-bottom: 0px;

    
}

.logo-rubik{
    padding-top: 5px;
}

.proy-rubik{
    color: rgb(2, 0, 3);
    gap: 50px;
    row-gap: 45px;
    padding-top: 75px;
    font-size: 90px;
    font-family: 'Josefin Slab', serif;
    text-shadow: 5px 5px 5px grey;
    letter-spacing: 12px;
    

}
nav{
  
    height: 80px;
    width: 100%;
    padding-right: 150px;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-flex;
    line-height: 80px;
    gap: 5px;
    margin: 0 70px;
}
nav ul li a{
    color: #060404;
    font-size: 16px;
    padding: 0px 13px;
    border-radius: 1px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: space-between;
}
li a.active, li a:hover{
    background: #607b10;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



@media (max-width: 952px){
    .proy-rubik{
        font: 95px;
    }
    
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display:;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -150%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}


main{

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color:#607b10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .card a:hover {
    background-color: #000;
  }
  
}

.container-section{
    background-image:url(../assets/img/fondo-sitio.png);
    width: 100%;
    height: 630px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    padding-right: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
  
}

.subtitulo-clases{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
 font-size: 50px;

}

.subtitulo-contact{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
 font-size: 50px;

}

.parrafo-con{
    color: black;
    font-size: 40px; 
    text-align: center;
    padding-top: 70px;

}


.container-sectionbit{
    background-image:url(../assets/img/fondo-sitio.png);
    width: 100%;
    height: 630px;
    display: flex;
     flex-flow:row-reverse;
     justify-content:space-between;
     padding-right: 70px;
     padding-left: 20px;
     padding-bottom: 50px;

}

.container-sectioncontact{
    background-image:url(../assets/img/fondo-sitio.png);
    width: 100%;
    height: 630px;
    display: flex;
     flex-flow:row-reverse;
     justify-content:space-between;
     padding-right: 70px;
     padding-left: 20px;
     padding-bottom: 50px;
}

.container-sectionnos{
    background-image:url(../assets/img/fondo-sitio.png);
    width: 100%;
    height: 630px;
    display: flex;
     flex-flow:row-reverse;
     justify-content:space-between;
     padding-right: 70px;
     padding-left: 20px;
     padding-bottom: 50px;

    

}

.container-sectionclas{
    background-image:url(../assets/img/fondo-sitio.png);
    width: 100%;
    height: 630px;
    display: flex;
     flex-flow:row-reverse;
     justify-content:space-between;
     padding-right: 70px;
     padding-left: 20px;
     padding-bottom: 50px;

}

.subtitulo-bitacle{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
 font-size: 50px;
}

.parrafo-bit{
    color: black;
    font-size: 25px; 
    text-align: center;
}

.parrafo-nos{
    color: black;
    font-size: 35px; 
    text-align: center;
}
.subtitulo-nosotros{
    
        text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
        font-family: 'Roboto Mono', monospace;
     font-size: 50px;
    
    }



.subtitulo{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 25px;
   font-family: 'Roboto Mono', monospace;
font-size: 50px;
}

.subtitulo-nos{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
 font-size: 50px;

}


.footer-container{
  style
}

.col-md-4 mb-0 text-body-secondary{

  
    font-size: 20px;

}


@media (max_widht: 958px){

.logo-rubik{
    padding-top: 80px;
}


   nav{

font-size: 15px;

    }

} 




    
    
