
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,300&display=swap');

.cards-grids, .cards {
  background-color: azure;
}




.card {
  width: 100%;
  margin: 0;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5em;
  background-color: azure;
  align-items: center;
}

.card-item {
  background-color: azure;
  display: flex;
  justify-content: center;
}

.card-content {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: azure;
  text-align: center;
}

.card-picture {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  bottom: 2em;
}

.card-img {
  width: 100%;
}

.card-text {
  justify-content: center;
}

header {
  background-color: rgb(255, 255, 255);
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px 2px;
  margin-bottom: 0;
}

.logo-rubik {
  padding-top: 5px;
}

.proy-rubik {
  color: rgb(2, 0, 3);
  font-size: clamp(30px, 7vw, 90px);
  font-family: 'Josefin Slab', serif;
  text-shadow: 5px 5px 5px grey;
  letter-spacing: 12px;
  margin: 0;
}

nav {
  height: 80px;
  width: 100%;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enlace {
  display: none;
}

.logo {
  height: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: #060404;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1px;
  transition: background-color 0.3s ease;
}

nav ul li a.active, 
nav ul li a:hover {
  color: #607b10;

}

.checkbtn {
  display: none;
}

#check {
  display: none;
}


 
.contacts{
  background-image: url(../assets/img/foto-santi\ \(2\).jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}



form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
  resize: none;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #00796b;
}


.contact-info {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
  margin-top: 50px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-item i {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-item h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.info-item p {
  font-size: 16px;
  line-height: 1.4;
}

.tit-gal{
  display: flex;
  justify-content: center;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  flex-basis: calc(25% - 20px);
  margin: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .image-container {
    flex-basis: calc(33.33% - 20px);
  }
}

@media (max-width: 480px) {
  .image-container {
    flex-basis: calc(50% - 20px);
  }
}





@media (max-width: 952px) {
  .proy-rubik {
    font-size: clamp(30px, 7vw, 95px);
  }
  nav ul li {
    display: flex;
    align-items:last baseline;
    font-size: 8px;
  margin: 0 5px;
  justify-content: right;
  }
}

@media (max-width: 858px) {
  .container-header {
    padding: 20px;
  }
  .enlace {
    display:
  }
   