@import"./base/resets";
@import"./utilities/variasbles";
@import"./components/bootstrap";
@import"./utilities/mixins";
@import"./layout/media768";
@import"./utilities/variasbles";
@import"./layout/main-index";
@import"./layout/header"; 
@import"./layout/footer"; 
@import"./layout/main-contacto";

@import"./layout/main-nosotros";
@import"./layout/main-galeria";
@import"./layout/main-clases";



.fondo-contact{
    background-image: url(../assets/img/contanto1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
