
.subtitulo-contact {
 color: #000000;
 background-color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  
  
}


// main{
//   background-image: url(../assets/img/contanto1);
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

  
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(../assets/img/contanto1);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  
      .tit-contacts {
        font-size: 1.5rem;
        margin-top: 3rem;
        color: #fff;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 1rem;
  
          label {
            font-size: 1.2rem;
            color: #fff;
          }
  
          input[type='text'],
          input[type='email'],
          textarea {
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            border: none;
          }
  
          textarea {
            height: 200px;
            width: auto;
          }
        }
  
        button[type='submit'] {
          background-color: #C4C4C4;
          border: none;
          color: #020202;
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
          border-radius: 0.5rem;
          cursor: pointer;
          margin-top: 1rem;
          transition: all 0.3s ease;
  
          &:hover {
            background-color: #3C3C3C;
          }
        }
      }
  
      .contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 3rem;
  
        .info-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2rem;
          text-align: center;
  
          i {
            font-size: 2rem;
            color: #ffffff;
            margin-bottom: 1rem;
          }
  
          h3 {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            color: #ffffff;
          }
  
          p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 0;
            color: #ffffff;
          }
        }
      }
    }
  
  