@media (min-width: 576px) and (max-width: 768px) {

    .container {
      width: 90%;
    }
    .d-none-md {
      display: none !important;
    }
  
    .d-md-block {
      display: block !important;
    }
  }